<div class="list-group-item" [ngClass]="getBackgroundColor()">

	<div class="d-flex flex-row">
		<h4 class="card-title mr-auto p-2"> {{ title }} </h4>

		<div class="p-2">
			Posted on : {{ createdAt | date:'short' }}
		</div>
	</div>

	<div class="">
		{{ content }}
	</div>

	<div class="mt-4 mb-2">
		<button
		class="btn btn-success mx-2"
			type="button"
			name="likeButton"
			(click)="onLike()"
		>Like 👍🏻 </button>

		<button
			class="btn btn-danger mx-2"
			type="button"
			name="dislikeButton"
			(click)="onDislike()"
		>Dislike 👎🏻 </button>
	</div>

</div>
